@CHARSET "UTF-8";
body
{
	width:auto;
	
}
#message h3{
	width:90%;
	margin:10px auto;
	height:30px;
	border:1px dashed #333;
	text-align:center;
	line-height:30px;
	background:#eee;
	font-family:"STXinWei";
	
	
}
#message dl
{
	width:90%;
	margin:0 auto;
}
#message dl dd{
	font-family:"STXinWei";
	margin:5px 0;
	
	
}
#message dl dd input.text
{
	width:180px;
	height:auto;
	background:#fff;
	
}
#message dl dd input.yzm
{
	width:60px;
	position:relative;
	right:8px;
}
#message dl dd textarea
{
	width:100%;
	height:120px;
	position:relative;

	float:1eft;
	overflow-y:scroll;
	
}
#message dl dd img{
	cursor:pointer;
	position:relative;
	top:5px;
	right:8px;
}
#message dl dd select
{
	width:88px;
	background:url(../../images/flower.jpg) no-repeat;
	padding: 0 0 0 15px;
	
}
#message dl dd select #option
{
	background:url('../../images/flower.jpg') no-repeat center;
}